@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}


header {
    background: url(imgs/background/fundo-logo.png);
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    flex-wrap: wrap;
}



.logo img {
    width: 400px;
}

.logo {
    margin: 20px 0px;
}





header a {
    color: white;
    text-decoration: none;
}

.menu-desktop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 10px;
}

.menu-desktop a {
    font-family: "Jersey 15", sans-serif;
    font-size: 30px;
    margin: 0 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.menu-desktop a img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.menu-desktop a:hover {
    color: #AD6AB6;
    text-decoration: underline;
    
}
.linha {
    background-color: #6200ff;
    height: 10px;
    box-shadow: 0px 7px 25px 0px rgba(39,49,81,0.71);
}



.navegacao a{
    font-size: 22px;
    margin: 0px 15px;
    padding: 5px 10px;
}

.navegacao a:hover {
    background-color: white;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}







/* fim header*/



.home {
    margin: 0 auto;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.home h1 {
    width: 92%;
    text-align: start;
    font-size: 42px;
    font-weight: bold;
    padding: 50px 0px 0px 0px;
    margin: 0 auto;
}

.home p {
    font-size: 26px;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}



/*CARDS*/

.servicos {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.servicos h1 {
    width: 92%;
    text-align: start;
    font-size: 42px;
    font-weight: bold;
    padding: 50px 0px 0px 0px;
    margin-bottom: 20px;

}

  /* Card */
.cartao {
    width: 300px;
    height: 500px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

/* Card Header*/
.cartao-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }


  
  .cartao-img {
    min-width: 100%;
    width: auto;
    height: 100%;
  }
  
  /* Card Body */
  .cartao-body {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
  }
  
  
  .cartao-titulo {
    font-size: 30px;
    margin: 8px 0;
  }
  
  .cartao-texto {
    font-size: 16px;
    width: 215px;
    margin: 0 auto;
  }
  

  /* Animação Hover */
  .cartao:hover {
    transform: scale3d(1.1, 1.1, 1);
  }


/*   Conteudo-Contato   */


.caixa-contato {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0px;


}

.formulario {
    margin: 0 80px;
}

form {
    width: 400px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.caixa-contato h1 {
    margin-bottom: 25px;
    font-size: 40px;
    width: fit-content;
    ;
}

form input {
    margin-bottom: 20px;
    width: 400px;
    height: 40px;
}

.espaco-input {
    padding: 0.5em;
}

form label {
    margin-bottom: 5px;
    font-size: 20px;
    width: fit-content;
}

form, label, input {
    display: block;
    
    
}
textarea {
    margin-bottom: 20px;
    width: 400px;
    max-width: 400px;
    height: 100px;
    max-height: 250px;
    

}




.conteudo-contato { 
    display: flex;
    flex-wrap: wrap;
}

iframe {
    width: 400px;
    height: 400px;
}

.contato-direita {
    padding: 0px 80px;
    margin: 0 auto;
}

.p-contato {
    margin-bottom: 10px;
    text-decoration: underline;
}



.contato-direita img {
    width: 25px;
}

.contato-direita li {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    

}

.contato-direita a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    width: fit-content;
}

.contato-direita a:hover {
    text-decoration: underline;
}

.contato-esquerda {
    margin: 0 auto;
    margin-bottom: 20px;


}
















/* FOOTER */

footer {
    background-color: #414141;
    color: white;
}


.logo-footer img {

    width: 300px;
    margin: 40px 20px 10px 20px;
}

.footer-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;

}

.caixas-footer {
    margin: 20px;
}

.endereco {
    width: 300px;
}


.caixas-footer h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

.linhas {
    display: block;
    border-bottom: 0.5px solid grey;
    margin: 10px 0px;
    color: grey;
}

.copy {
    background-color: #202020;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    display: block;
}

.englobado {
    max-width: 1280px;
    margin: 0 auto;
}


.social ul a{
    display: block;
    width: fit-content;
    margin: 8px 0px;
    text-decoration: none;
    color: white;
}


.social ul a:hover {
    text-decoration: underline;
}


.img-social {
    margin-right: 5px;
    width: 25px;
}

.social li {
    display: flex;
    align-items: center;
}

.linhas-contato {
    display: flex;
    flex-direction: column;
    color: white;
    flex-wrap: wrap;
    margin: 10px 0px;

}

@media screen and (max-width: 1050px) {
    form {
        width: 345px;
    }

    form input {
        margin-bottom: 20px;
        width: 345px;
        height: 40px;
    }

    textarea {
        margin-bottom: 20px;
        width: 345px;
        height: 100px;
        max-height: 250px;
    }

    iframe {
        width: 345px;
        height: 345px;
    }

    .conteudo-contato { 
        display: flex;
        flex-wrap: wrap;
        width: 350px;
    }

    .contato-direita {
        padding: 0px 0px;
        margin: 0 auto;
        width: 345px;
    }

    .logo img {
        width: 300px;
    }
    
    .logo {
        margin: 15px 0px;
    }

    .navegacao {
        display: none;
    }
    .cartao-header {
        width: 100%;
        height: 150px;
        overflow: hidden;
      }
      .cartao {
        width: 300px;
        height: 450px;
        margin: 25px;
        background-color: #fff;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        transition: 0.3s;
    }

    .home p {
        font-size: 20px;
    }
}